<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" [style.padding]="'60px'"><br><br>
            <h1 [style.text-align]="'center'" [style.color]="'blue'">WELCOME TO<br>
                Junoon Restaurant</h1><br>
            <p [style.text-align]="'center'"> Junoon, is all about the journey of a passionate Chef in creating
                beautiful experiences through<br> the
                culinary cuisines that delivers and promises the utmost unique tastes from the different <br>parts of
                the
                World with Love.<br><br><br> The restaurant delivers finest Indian, Arabic and Lebanese cuisines in its
                unique
                flavours.<br> Arrived! Near you!</p>
        </div>
        <div class="col-md-6">
            <img src="assets/home1.PNG" alt="" [style.width]="'100%'" [style.height]="'600px'">
        </div>

    </div>

</div>

<div class="container-fluid">
    <img src="assets/home.PNG" alt="" [style.width]="'100%'" [style.height]="'600px'">

</div>